
html{
  font-family: Helvetica, Arial;
  color: #262626;
  font-size: 12px;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #e9ebea 0%, #9fd0d4 100%);
}

header{
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #1a1a32;
  box-shadow: 0px 2px 5px grey;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

img{
  height: 50px;
}

.menu li{
  display: inline-block;
  padding: 0px 40px;
}

.menu li a{
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

.menu li a:hover{
  color: #0088a9;
}

.container{
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
  padding: 0 24px;
}
