*{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif, Arial;
  color: #262626;
  scroll-behavior: smooth;
}

body, footer{
  background: linear-gradient(to right, #e9ebea 0%, #9fd0d4 100%);
}

header{
  position: fixed;
  height: auto;
  width: 100%;
  background-color: #1a1a32;
}

label{
  color: #9e9ea5;
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 600px;
  margin-bottom: 0px;
}

input{
    border-radius: 40px;
    //margin-left: 590px;
    height: 30px;
    width: 500px;
    margin-top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

h1{
  font-size: 50px;
}

p{
  font-size: 30px;
  width: 50%;
  text-align: justify;
}

form{
  background-color: #4a4a5d;
  height: 600px;
  border-radius: 30px;
}

form h1{
  color: white;
  padding-left: 750px;
}

form input #sendbutton{
    margin-left: 800px;
    width: 100px;
    height: 30px;
    margin-top: 40px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #1a1a33;;
    font-size: 20px;
}

iframe{
  width: 888px;
  height: 500px;
}

.container{
  height: 1040px;
  width: 90%;
  margin: 105px auto 0px;
  align-items: center;
}

.right{
  float: right;
  overflow: hidden;
}

.left{
  float: left;
}

.container img{

}

#logo{
  height: 75px;
  width: auto;
}

#menu nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20%;
  font-family: Arial;

}

#menu li {
  display: inline-block;
  padding: 0px 40px;
}

#menu li a:hover{
  color: #0088a9;
}

#menu li, a{
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

#welcome{
  display: inline-block;
  margin-top: 210px;
}

#welcome h1{
  /*padding-right: 0px;
  margin: 200px 130px 0px;*/
}

#welcome h3{
    font-size: 35px;
  /*margin: 0px 190px;
  padding-right: 0px;*/
}
/*
#welcome .left{
  width: 50%;
}

#welcome .right{
  width: 50%;
}*/

#button{
  margin: 350px 150px;
}

#button a img{
  height: 200px;
  width: 220px;
  padding: 0px 15px;
}

#aboutProduct{
  display: inline-block;
}

#aboutProduct p{
}

#aboutProduct img{

}

#messageTextField{
    height: 150px;
}

#aboutUs{
}
